<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="public, max-age=15768000" />
    <link rel="preload" as="font" href="/fonts/DIN_Alternate_Bold.ttf" crossorigin="anonymous" />
    <link rel="prefetch" as="image" href="/image/icon/content_bg.png" />
    <link rel="preload" as="image" href="/image/dark/transfer_logo.png" />
    <link rel="preload" as="image" href="/image/light/transfer_logo.png" />
    <link rel="prefetch" as="image" href="/logo.png" />
    <link rel="shortcut icon" href="/logo.png" />
  </head>
  <body style="background-color: transparent">
    <div id="root"></div>
  </body>
</html>
